@import url("../../theme.css");

body {
  height: 98vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Arial, sans-serif;
  color: var(--text);
}

h3{
  width: fit-content;
  height: fit-content;
  margin: 0;
}

.column{
  display: flex;
  flex-direction: column;
}

.theme_settings {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 25vh;
  background: var(--bg-250);
  padding: 1.5%;
  border: 2px solid var(--col-0);
  border-radius: 10px;
  box-shadow: 0 0 15px 5px var(--col-300);
}

.vertical_container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 0.8%;
}

.btn_container{
  margin-bottom: 1.5%; 
  display: flex;
  justify-content: space-between;
}

.themeBtn{
  color: var(--text);
  height: 4vh;
  width: 7.6vw;
  background: var(--bg-150);
  border: 2px solid var(--col-0);
  border-radius: 5px;
  outline: none;
  margin-right: 1%;
  font-size: 1rem;
  
  transition: ease 200ms;
}

.no_right_margin{
  margin-right: 0;
}

.themeBtn:hover{
  background: var(--bg-100);
  cursor: pointer;
}

.switch{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.switch{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--col-150);
  border: 2px solid var(--col-0);

  -webkit-transition: 400ms;
  transition: 400ms;
}

.slider:before{
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: var(--text);

  -webkit-transition: 400ms;
  transition: 400ms;
}

input:checked + .slider{
  background-color: var(--text);
}

input:focus + .slider{
  box-shadow: 0 0 1px var(--col-0);
}

input:checked + .slider:before{
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: var(--col-150) !important;
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius: 50%;
}

.slider.round:before{
  border-radius: 50%;
}

.toggle_setting{
  border-bottom: 1px solid var(--col-0);
  padding-bottom: 5px;
  margin-top: 5px;
}

.flex{
  display: flex;
}

.custom_theme_container{
  padding: 0 10% 0 10%;
  margin-top: 1;
  margin-bottom: 1.5%; 
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.custom_theme_btn{
  width: 35%;
  height: 90%;
  border-radius: 10px;
  border: 3px dashed var(--col-0);
  background: transparent;
  color: var(--col-0);
  font-size: 2rem;
}

.custom_theme_btn:hover{
  background: var(--bg-150);
  cursor: pointer;
}

.custom_theme_config{
  width: 50vw;
  height: 50vh;
  margin-top: 2.5%;
  background: var(--bg-250);
  padding: 1.5%;
  border: 2px solid var(--col-0);
  border-radius: 10px;
  box-shadow: 0 0 15px 5px var(--col-300);
}