@import url("../../theme.css");

body {
  height: 98vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Arial, sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 25vh;
  background: var(--bg-250);
  padding: 1.5%;
  border: 2px solid var(--border-0);
  border-radius: 10px;
  box-shadow: 0 0 15px 5px var(--shadow-300);
}

.btn_container{
  margin-bottom: 1.5%; 
}

.themeBtn{
  color: var(--text);
  height: 4vh;
  width: 7.6vw;
  background: var(--bg-150);
  border: 2px solid var(--border-0);
  border-radius: 5px;
  outline: none;
  margin-right: 1%;
  font-size: 1rem;
  
  transition: ease 200ms;
}

.no_right_margin{
  margin-right: 0;
}

.themeBtn:hover{
  background: var(--bg-100);
  cursor: pointer;
}

.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;

  -webkit-transition: 400ms;
  transition: 400ms;
}

.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;

  -webkit-transition: 400ms;
  transition: 400ms;
}

input:checked + .slider{
  background-color: #2196F3;
}

input:focus + .slider{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius: 50%;
}