@import url("../../theme.css");

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer{
  height: 5vh;
  width: 100%;
}

h2{
  margin: 0;
  color: var(--text);
}

p{
  margin: 0;
  color: var(--text);
}

.b_container{
  margin-left: 1vw;
}

.bookmark{
  display: flex;
  align-items: center;
  width: 50vw;
  height: 5vh;
  margin-top: 2.5vh;
  background: var(--bg-150);
  border: 2px solid var(--col-0);
  padding: 50px;
  border-radius: 15px;

  transition: ease-in-out 200ms;
}

.bookmark:hover{
  background: var(--bg-100);
  box-shadow: 0 0 15px 5px var(--col-300);
  transform: scale(1.01);
}

.favicon{
  transform: scale(0.8);
}

.remove_bookmark_button{
  aspect-ratio: 1;
  background: transparent;
  outline: none;
  margin-left: auto;
  border: 2px solid var(--col-0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: ease-in-out 200ms;
}

.remove_bookmark_button:hover{
  background: var(--bg-0);
}

.remove_bookmark_icon{
  background: transparent;
}